#AnamneseForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    max-width: 100%;
    height: 400px; 
    margin: auto;
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}
#AnamneseForm div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input, select, textarea {
    padding: 8px; /* Ajustado para se encaixar na altura */
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin: 5px 0;
    font-size: 14px;
    transition: border-color 0.3s;
}

input:focus, select:focus, textarea:focus {
    border-color: #73060F;
    outline: none;
}

button {
    padding: 10px;
    background-color: #73060F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5a040c;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

